@{
    ViewBag.Title = "Home Page";
}

<h1>Days Difference Calculator</h1>
<p class="lead">Select From Date and To Date to calculate the days difference between them.</p>
@Html.Partial("_CalculateDaysDiff")
